services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: e-learning-backend
    ports:
      - "${PUBLIC_PORT}:80"
      - "8443:443"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:80
      - PublicIp=${PUBLIC_IP}
      # Baza danych
      - ConnectionStrings__Default=Host=${DB_HOST};Port=${DB_PORT};Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD};Include Error Detail=true
      # JWT
      - Jwt__Key=${JWT_KEY}
      # SMTP Configuration
      - Smtp__Host=${SMTP_HOST}
      - Smtp__Port=${SMTP_PORT}
      - Smtp__Username=${SMTP_USER}
      - Smtp__Password=${SMTP_PASS}
      - Smtp__FromAddress=${SMTP_FROM_ADDRESS}
      - Smtp__FromName=${SMTP_FROM_NAME}
      - Smtp__EnableSsl=true
      - Smtp__TimeoutMs=15000
      # Invitations
      - Invitations__ConfirmBaseUrl=${INVITATIONS_URL}
      - Invitations__ExpiresInHours=${INVITE_EXPIRES_HOURS}
      # File Upload
      - FileUpload__RootPath=${UPLOAD_ROOT_PATH}
      - FileUpload__MaxBytes=${UPLOAD_MAX_BYTES}
      - FileDirectory__Directory=${DOMAIN}
      # Logging
      - GrafanaLoki__Url=${LOKI_URL}
    volumes:
      - ../wwwroot/uploads:/app/wwwroot/uploads
    restart: unless-stopped
    networks:
      - default